body {
	/*inline v html je background */
	overflow: auto;
	min-height: 800px;
}

.top {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	min-height: 100px;
	height: 100px;
	/*background-color: #eaeaea;*/
}

.top h1
{
	text-align: left;
	margin-left: 45px;
	text-shadow: 0 0 30px #000;
	color: #EAEAEA; 
	font:32pt 'trebuchet ms',arial,sans-serif;
	font-weight: bolder;
}

.menu {
	position: absolute;
	left: 0px;
	/*background-color: #DCDCDC;*/	
	top: 80px;
	bottom: 100px;
	min-width: 370px;
	min-height: 720px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 2px 2px 2px 2px #aaa;
	bottom: 100px;	
	background: -webkit-gradient(linear, left top, right top, from(#DCDCDC), to(#eaeaea)); 
	background: -webkit-linear-gradient(left, #DCDCDC, #eaeaea); 
	background: -moz-linear-gradient(left, #DCDCDC, #eaeaea); 
	background: -ms-linear-gradient(left, #DCDCDC, #eaeaea); 
	background: -o-linear-gradient(left, #DCDCDC, #eaeaea);
}

.center {
	position: absolute;
	right: 0px;
	left: 450px;
	top: 80px;
	background-color: #DCDCDC;
	bottom: 100px;
	min-width: 250px;
	min-height: 720px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 5px #000000;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.bottom {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	min-height: 100px;
	height: 120px;
	/*background-color: #eaeaea;*/
	z-index: -100;
}
.workspace
{
	border-radius: 25px;
	position:absolute;
	margin:2px;
	left:0px;
	bottom:0px;
	right:0px;
	top:0px;
}

.topLeftCenterCorner
{
	position:absolute;
	left:0px;
	top:0px;
	width:23px;
	height:20px;
	background-image: url("icons/corners.png");
	z-index: 100;
}

.bottomLeftCenterCorner
{
	position:absolute;
	left:0px;
	bottom:0px;
	width:23px;
	height:20px;
	background-image: url("icons/corners.png");
	background-position: 0px -20px;
	z-index: 100;
}