body {
	/*inline v html je background */
	/*overflow: auto;*/
	/*min-height: 800px;*/
}

.top {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	min-height: 100px;
	height: 100px;
	/*background-color: #eaeaea;*/
}

.top h1
{
	text-align: left;
	margin-left: 45px;
	text-shadow: 0 0 30px #000;
	color: #EAEAEA; 
	font:32pt 'trebuchet ms',arial,sans-serif;
	font-weight: bolder;
}

.menu {
	position: absolute;
	left: 0px;
	background-color: #EAEAEA;	
	top: 80px;
	bottom: 0px; 
	min-width: 370px;
	min-height: 720px;
	border-top-right-radius: 25px;
	/*border-bottom-right-radius: 25px;*/
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 2px 2px 2px 2px #aaa;
	/*background: -webkit-gradient(linear, left top, right top, from(#DCDCDC), to(#eaeaea)); 
	background: -webkit-linear-gradient(left, #DCDCDC, #eaeaea); 
	background: -moz-linear-gradient(left, #DCDCDC, #eaeaea); 
	background: -ms-linear-gradient(left, #DCDCDC, #eaeaea); 
	background: -o-linear-gradient(left, #DCDCDC, #eaeaea);*/
}

.center {
	position: absolute;
	right: 0px;
	left: 450px;
	top: 80px;
	background-color: #DCDCDC;
	bottom: 0px;
	min-width: 250px;
	min-height: 720px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 5px #000000;
	border-top-left-radius: 25px;
	/*border-bottom-left-radius: 25px;*/
}

.bottom {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	min-height: 100px;
	height: 120px;
	/*background-color: #eaeaea;*/
	z-index: -100;
}
.workspace
{
	border-radius: 25px;
	position:absolute;
	margin:2px;
	left:0px;
	bottom:0px;
	right:0px;
	top:0px;
}

.topLeftCenterCorner
{
	position:absolute;
	left:0px;
	top:0px;
	width:23px;
	height:20px;
	background-image: url("icons/corners.png");
	z-index: 100;
}

.bottomLeftCenterCorner
{
/*	position:absolute;
	left:0px;
	bottom:0px;
	width:23px;
	height:20px;
	background-image: url("icons/corners.png");
	background-position: 0px -20px;
	z-index: 100;*/
}

/*Context items*/

.item {
	position: relative;
	background-color: #f1f1f1;
	font: bold 1em/2em Arial, Helvetica;
	color: #333;
	border: solid 1px #D1D8DF;
	height: 40px;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.item:HOVER {
	background: #eaeaea;
}

/*.item:ACTIVE,
.item-detail:ACTIVE,*/
.item-header-icobutton:ACTIVE
 {
	-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3) inset;
	position: relative;
	top: 1px;
}

.item-header-icobutton
{
	position: relative;
	background-color: #f1f1f1;
	border: solid 1px #D1D8DF;
	padding:5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.item-closebutton {
	position: absolute;
	padding: 5px;
	top: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
}

.item-closebutton:ACTIVE {
	border: solid 1px #aeaeae;
}

.item-icon /*32px*/ {
	position: absolute;
	padding: 5px;
	top: 0px; /*depends on .item.height */
	left: 0px;
}

.item-what-label {
	white-space: pre-wrap;
	position: absolute;
	padding: 5px;
	top: 0px;
	left: 45px;
}

.item-detail {
	position: relative;
	background-color: #f1f1f1;
	font: bold 16pt Arial, Helvetica;	
	color: #333;
	border: solid 1px #D1D8DF;
	
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	/*font: bold 1em/0.5em Arial, Helvetica;
	*/
}


.item-detail-icon /*32px*/ {
	position: absolute;	
	padding: 5px;
	top: 8px; /*depends on .item.height */
	left: 0px;
}

.item-detail-what {
	display:block;
	width: 80%;
	white-space: pre-wrap;
	position: relative;
	top: 10px;
	left: 50px;
	margin-bottom: 5px;
}

.item-detail-label {
	display:block;
	font-size: 10pt;
	position:relative;
	margin-top:20px;
	margin-bottom:10px;
	white-space:pre-line;
	left: 50px;
	width: 80%;
}

.item-detail-time {
	position: absolute;
	top: 5px;
	right: 30px;
	font-size: 10px;
}
.item-container
{
	/*background: #FFF;*/
	border:solid 1px #FFF; 
	overflow: auto; 
	padding: 1px;
}

.pectin-ValidationDisplayLabel-validationError
{
	font-weight: bold;
}


/*
Search text box */
.searchBox
{
	position: absolute;
	left:250px;
	top:20px;
	background-color: #FFF;	
	border-radius: 5px;
	padding:5px;
	/*border: solid 1px #DCDCDC;*/
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
}

.searchTextBox
{
	min-width:250px;
	width:450px;
	border: none;
	font-family: verdana;
	font-size: 12pt;
}

.searchTextBox:focus 
{outline: none;}

.searchButton
{
	position:absolute;
	left:720px;
	top:17px;
}

.searchButton:ACTIVE
{
	position:absolute;
	left:720px;
	top:18px;
}

.searchButton:before
{
        content: "S";
}

.searchButton
{
/*	position:absolute;
	font-family: Calibri;
	font-size: 12pt;
	left:720px;
	top:21px;
	padding:3px;
	padding-left:6px;
	padding-right:8px;
	border:1px solid #000;
	background-color:#DCDCDC;*/
}

.searchButton:HOVER
{
	/*background-color:#e0e0e0;*/
}
.searchButton:ACTIVE
{
	/*background-color:#e0e0e0;
	-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3) inset;
	position: absolute;
	top:22px;*/
}

.VerySimpleForm input
{
	width:230px;
}

.VerySimpleForm select
{
	min-width:200px;
}

.webLink
{
	font-size:100%;
}

.webLink:hover
{
	color: blue;
	text-decoration: underline;
	font-size:100%;
	cursor: pointer;
}

.cbg-Rating
{	
	outline: none;
}