<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>My places</title>
	<link title="style" href="buttons.css" type="text/css" rel="stylesheet">
	<link title="style" href="template.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="top">
		<h1>My Places</h1>
	</div>

	<div class="menu">
	<a href="" class="button add">Add</a>
	</div>

	<div class="center" >
		<div class="topLeftCenterCorner"></div>
		<div class="bottomLeftCenterCorner"></div>
		<div class="mapContainer" id="map">			
		</div>
	</div>
	<div class="bottom"></div>
</body>
</html>